connection/src/main/resources/protocol/xml/wot/Detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="FlowTags.xsd"/>

    <xs:complexType name="detail">
        <xs:annotation>
            <xs:documentation>An optional element used to hold CoT sub-schema. empty element</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TakControl" minOccurs="0" type="TakControl"/>
            <xs:element name="m_color" type="xs:string"/>
            <xs:element name="m_contact" type="xs:string"/>
            <xs:element name="m_link" type="xs:string"/>
            <xs:element name="m_remarks" type="xs:string"/>
            <xs:element name="m_status" type="xs:string"/>
            <xs:element name="m_takv" type="xs:string"/>
            <xs:element name="m_track" type="xs:string"/>
            <xs:element name="m_usericon" type="xs:string"/>
            <xs:element name="__chat" minOccurs="0" type="__chat"/>
            <xs:element name="__group" minOccurs="0" type="__group"/>
            <xs:element name="__serverdestination" minOccurs="0" type="__serverdestination"/>
            <xs:element name="_medevac_ " type="_medevac_ "/>
            <xs:element name="color" minOccurs="0" type="color"/>
            <xs:element name="contact" type="contact"/>
            <xs:element name="emergency" type="emergency"/>
            <xs:element name="link" minOccurs="0" type="link"/>
            <xs:element name="Marti" minOccurs="0" type="Marti"/>
            <xs:element name="Precisionlocation" type="Precisionlocation"/>
            <xs:element name="remarks" type="remarks"/>
            <xs:element name="status" minOccurs="0" type="status"/>
            <xs:element name="takv" type="takv"/>
            <xs:element name="track" type="track"/>
            <xs:element name="usericon" type="usericon"/>
            <xs:element name="uid" type="uid"/>
            <xs:element name="_flow-tags_" type="_flow-tags_"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TakControl">
        <xs:all>
            <xs:element name="TakProtocolSupport" type="TakProtocolSupport" minOccurs="0"/>
            <xs:element name="TakServerVersionInfo" type="TakServerVersionInfo" minOccurs="0"/>
            <xs:element name="TakRequest" type="TakRequest" minOccurs="0"/>
            <xs:element name="TakResponse" type="TakResponse" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="TakProtocolSupport">
        <xs:attribute name="version" type="xs:string" default="1"/>
    </xs:complexType>

    <xs:complexType name="TakServerVersionInfo">
        <xs:attribute name="apiVersion" type="xs:string"/>
        <xs:attribute name="serverVersion" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="TakRequest">
        <xs:attribute name="version" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="TakResponse">
        <xs:attribute name="status" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="__chat">
        <xs:sequence>
            <xs:element name="chatgrp" minOccurs="0" type="chatgrp"/>
        </xs:sequence>
        <xs:attribute name="chatroom" type="xs:string">
            <xs:annotation>
                <xs:documentation>TBD: the callsign of the receiver?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="groupOwner" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>TBD,</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>TBD: the unique ID of the sender?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parent" type="xs:NCName"/>
        <xs:attribute name="senderCallsign" type="xs:NMTOKEN">
            <xs:annotation>
                <xs:documentation>the call sign of the sender</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="messageId"/> <!-- added messageId; not used by ATAK in some msgs -->
        <xs:attribute name="deleteChild"/> <!-- added deleteChild; required by WinTAK/ATAK for group delete-->
    </xs:complexType>

    <xs:complexType name="chatgrp">
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>third ID</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="uid0" type="xs:NMTOKEN">
            <xs:annotation>
                <xs:documentation>the machine ID of the sender</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="uid1" type="xs:NMTOKEN">
            <xs:annotation>
                <xs:documentation>another ID</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="__group">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="role" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="__serverdestination">
        <xs:sequence>
            <xs:element name="destinations" type="xs:string">
                <xs:annotation>
                    <xs:documentation>string composed by IP:port: protocol:machineID. e.g.
                        192.168.0.103:4242:tcp:ANDROID-R52JB0CDC4E
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="_medevac_ ">
        <xs:annotation>
            <xs:documentation>the medevac class is used to describe a case of someone in need to be evacuated
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="casevac" type="xs:integer"/>
            <xs:element name="equipment_none" type="xs:integer"/>
            <xs:element name="freq" type="xs:integer"/>
            <xs:element name="hlz_marking" type="xs:integer"/>
            <xs:element name="litter" type="xs:integer"/>
            <xs:element name="medline_remarks" type="xs:integer"/>
            <xs:element name="Priority" type="xs:integer"/>
            <xs:element name="routine" type="xs:integer"/>
            <xs:element name="Security" type="xs:integer"/>
            <xs:element name="terrain_none" type="xs:integer"/>
            <xs:element name="Title" type="xs:integer"/>
            <xs:element name="urgent" type="xs:integer"/>
            <xs:element name="zone_prot_selection" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="color">
        <xs:attribute name="argb" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="contact">
        <xs:attribute name="callsign" type="xs:string"/>
        <xs:attribute name="endpoint" type="xs:string"/>
        <xs:attribute name="iconsetpath" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="emergency">
        <xs:annotation>
            <xs:documentation>An emergency beacon the is continually send to all the connected clients until deactivated
                from the original creator
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Alert" type="xs:integer"/>
            <xs:element name="cancel" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>if true the emergency beacon is canceled</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="link">
            <xs:attribute name="parent_callsign" type="xs:NCName"/>
            <xs:attribute name="production_time" type="xs:dateTime"/>
            <xs:attribute name="relation" use="required" type="xs:NCName"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="uid" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="Marti">
        <xs:sequence>
            <xs:element name="dest" minOccurs="0" type="dest"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dest">
        <xs:sequence>
            <xs:element name="callsign" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Precisionlocation">
        <xs:annotation>
            <xs:documentation>some type of location?</xs:documentation>
        </xs:annotation>
        <xs:attribute name="altsrc" type="xs:string">
            <xs:annotation>
                <xs:documentation>TDB can be DTED0 or ???</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="geopointsrc" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="remarks" mixed="true">
        <xs:annotation>
            <xs:documentation>Provides a place to annotate CoT with free text information. e.g. comments from other
                users about the current COT. Used also from the geoChat.
            </xs:documentation>
            <xs:documentation>the xml body of this class is used to transport the chat message</xs:documentation>
        </xs:annotation>
        <xs:attribute name="source" type="xs:string"/>
        <xs:attribute name="sourceID" type="xs:string"/>
        <xs:attribute name="time" type="xs:dateTime"/>
        <xs:attribute name="to" type="xs:string"/>
        <xs:attribute name="keywords" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="status">
        <xs:attribute name="battery" type="xs:integer">
            <xs:annotation>
                <xs:documentation>% of the battery on the phone</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="readiness" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>probably boolean to determine if ready or not</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="takv">
        <xs:attribute name="device" type="xs:string">
            <xs:annotation>
                <xs:documentation>type of physical device</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="os" type="xs:string">
            <xs:annotation>
                <xs:documentation>the operating system running TAK</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="platform" type="xs:string">
            <xs:annotation>
                <xs:documentation>the variant of TAK</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:string">
            <xs:annotation>
                <xs:documentation>the version of TAK running on the device</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="track">
        <xs:attribute name="course" type="xs:decimal"/>
        <xs:attribute name="speed" type="xs:decimal"/>
    </xs:complexType>
    <xs:complexType name="usericon">
        <xs:sequence>
            <xs:element name="iconsetpath" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="uid">
        <xs:attribute name="Droid" use="required" type="xs:anyURI"/>
        <xs:attribute name="nett" type="xs:NCName"/>
    </xs:complexType>

</xs:schema>
